:root {
    --primary-color: #273A73;
    --second-color: #F26457;
    --bege-color: #f2E8D5;
    --gray-color: #615f5f;
    --grayligth-color: rgba(240, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 4rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--grayligth-color);
    position:fixed;
    top: 0;
    box-shadow: 1px 3px 3px 3px  rgb(175, 174, 174);
    z-index: 1;
}
   
.Logo-G7 {
    height: 6rem;
 }
 
.icone-H {
    height: 2rem;
    margin: .3rem;
    opacity: .5;
}  

.icones a:hover {
    opacity: .3;
}

.menu {
    width: 100%;
    display: none;
}
.menu a {
    color: var(--bege-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    position: relative;
    top:4rem;
    background-color: var(--primary-color);
}

.menu a:hover {
    background-color: var(--bege-color);
    color: var(--second-color);
}

main form {
    max-width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    color: var(--primary-color);
    background-color: var(--grayligth-color);
    padding: 1rem;
    margin: 6rem auto;
}

main form input:not(input[type="file"] ){
    border: solid .15rem var(--primary-color);
    border-radius: .3rem;
    height: 2rem; 
    padding-left: 1rem;
}

main textarea {
    border: solid .15rem var(--primary-color);
    border-radius: .3rem;
    padding-left: 1rem;
    line-height: 2rem;
}

main form button {
    line-height: 2rem ;
    background-color: var(--primary-color);
    color: var(--bege-color);
    border-radius: .5rem;
}

.erro1 {
    color: red;
}

footer {
    width: 100%;
    height: 4rem;
    padding: 0 .5rem;
    font-size: .8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color: var(--grayligth-color);
    color: var(--gray-color);
}

footer  div  {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: .8rem;
    gap: 1rem;
}

footer div ul {
    display: none;
}

footer .redes-sociais {
    display:flex;
    flex-flow: row nowrap;
    gap: .5rem;
    list-style: none;
}

.redes-sociais img {
   max-width: 2rem;
   border-radius: 30%;
   box-shadow: 3px 3px 3px var(--gray-color);
}

.redes-sociais img:hover {
    position: relative;
    left: 2px;
    bottom: 4px;
    border-radius: 30%;
    box-shadow: 3px 3px 3px var(--gray-color);
}

@media (min-width: 426px) {
    footer div ul {
        display: flex;
        gap: .5rem;
        list-style: none;
    }

    footer .links a:hover{
        color: var(--second-color);
    }
}