:root {
    --primary-color: #273A73;
    --second-color: #F26457;
    --bege-color: #f2E8D5;
    --gray-color: #615f5f;
    --grayligth-color: rgba(240, 231, 231);
}

 * {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header {
    width: 100%;
    height: 4rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--grayligth-color);
    position:fixed;
    top: 0;
    box-shadow: 1px 3px 3px 3px  rgb(175, 174, 174);
    z-index: 10;
}

header nav ul {
   display: flex;
   list-style: none;
}

header nav img:hover {
    position: relative;
    left: 2px;
    bottom: 2px;
    box-shadow: 2px 2px 2px var(--gray-color);
    border-radius: 100%;
    opacity: .3;
}

.Logo-G7 {
   height: 6rem;
}

.icone-H {
    height: 2rem;
    margin: .3rem;
    opacity: .5;
}

main {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
}

main form {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    color: var(--primary-color);
    background-color: var(--grayligth-color);
    padding: 1rem;
}

main form input:not(input[type="file"] ){
    border: solid .15rem var(--primary-color);
    border-radius: .3rem;
    height: 2rem; 
}

main textarea {
    border: solid .15rem var(--primary-color);
    border-radius: .3rem;
}

main form button {
    line-height: 2rem ;
    background-color: var(--primary-color);
    color: var(--bege-color);
    border-radius: .5rem;
}

footer {
    width: 100%;
    height: 4rem;
    padding: 0 .5rem;
    font-size: .8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color: var(--grayligth-color);
    color: var(--gray-color);
}

footer  div  {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: .8rem;
    gap: 1rem;
}

footer div ul {
    display: none;
}

footer .redes-sociais {
    display:flex;
    flex-flow: row nowrap;
    gap: .5rem;
    list-style: none;
}

.redes-sociais img {
   max-width: 2rem;
   border-radius: 30%;
   box-shadow: 3px 3px 3px var(--gray-color);
}

.redes-sociais img:hover {
    position: relative;
    left: 2px;
    bottom: 4px;
    border-radius: 30%;
    box-shadow: 3px 3px 3px var(--gray-color);
}

@media (min-width: 426px) {
    footer div ul {
        display: flex;
        gap: .5rem;
        list-style: none;
    }

    footer .links a:hover{
        color: var(--second-color);
    }
}