:root {
    --primary-color: #273A73;
    --second-color: #F26457;
    --bege-color: #f2E8D5;
    --gray-color: #615f5f;
    --grayligth-color: rgba(240, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 4rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--grayligth-color);
    position:fixed;
    top: 0;
    box-shadow: 1px 3px 3px 3px  rgb(175, 174, 174);
}
   
.Logo-G7 {
    height: 6rem;
 }
 
.icone-H {
    height: 2rem;
    margin: .3rem;
    opacity: .5;
}  

.icones a:hover {
    opacity: .3;
}

.menu {
    width: 100%;
    display: none;
}
.menu a {
    color:var(--bege-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    position: relative;
    top:4rem;
    right: 0;
    background-color: var(--primary-color);
}

.menu a:hover {
    background-color: #ddd;
    color: var(--second-color);
}

main { 
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
}

main .all-content {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items:flex-start;
margin: 6rem 0;
gap: .5rem;
z-index: 10;
}

main .all-cat {
    width: 100%;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: center;
   margin: 0 .5rem;
}

.categorias4 {
    position: fixed;
    right: 0.5rem;
    bottom: 5rem;
    background-color: var(--grayligth-color);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: .5rem; 
    border-radius: .2rem;
    box-shadow: 2px 2px 2px 2px var(--primary-color)
}

.categorias4 h4 {
    font-size: 1.8rem;
    color: var(--second-color);
}

.categorias4 ul {
    list-style: none;
}

.categorias4 a{
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.categorias4 a:hover {
    color: var(--second-color);
}

.cat-servicos {
    background-color: var(--grayligth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
    color: var(--primary-color);
    padding: 1rem;
}

.categoria {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cat-servicos h4{
    color: var(--primary-color);
}

.categoria img {
    width: 14rem;
    border-radius: 5%;
    margin-bottom: .8rem;
}

.categoria a {
    width: 14rem;
    height: 16rem;
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    align-items: center;
    background-color: #f2E8D5;
    box-shadow: 2px 2px 2px 2px ;
    border-radius: 5%;
    margin: .2rem;
    gap: .5rem;
}

.categoria a:hover{
    color: var(--second-color);
}

footer {
    height: 4rem;
    padding: 0 .5rem;
    font-size: .8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color: var(--grayligth-color);
    color: var(--gray-color);
}

footer  div  {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: .8rem;
    gap: 1rem;
}

footer div ul {
    display: none;
}

footer .redes-sociais {
    display:flex;
    flex-flow: row nowrap;
    gap: .5rem;
    list-style: none;
}

.redes-sociais img {
   max-width: 2rem;
   border-radius: 30%;
   box-shadow: 3px 3px 3px var(--gray-color);
}

.redes-sociais img:hover {
    position: relative;
    left: 2px;
    bottom: 4px;
    border-radius: 30%;
    box-shadow: 3px 3px 3px var(--gray-color);
}

button:hover {
    background-color: var(--second-color);
    color: var(--grayligth-color);
}

@media (min-width: 426px) {
    header {
        padding: 0 4rem;
    }

    .Logo-G7 {
        font-size: 2rem;
        line-height: 5rem;
    }

    .icone-H {
        height: 2.5rem;
        margin: .5rem;
    }

    .categorias4 {
        right: 0.5rem;
        bottom: 40rem;
    }
    
    .categorias4 {
        position: fixed;
        left: 1rem;
        top: 20rem;
        width: 11rem;
        height: 14rem;
        gap: 1.5rem;
        padding-top: 1rem;
    }

    footer div ul {
        display: flex;
        gap: .5rem;
        list-style: none;
    }

    footer .links a:hover {
         color: var(--second-color);
    }
}

@media (min-width: 769px) {
    main .all-content{
        width: 100%;
        align-items: flex-end;

    }

    main .all-cat{
        width: 90%;
    }

}

@media (min-width: 1439px) {
    main .all-cat{
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 2559px){
    main .categorias4 {
        left: 30rem;
    }
}